<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <img src="/public/images/luffy.jpg" alt="">
            <h1>{{name}}</h1>
            <h3 class="role">{{role}}</h3>
        </div>
        
        <div class="profile-info">
            <div class="info-item">
                <span class="info-label">Email:</span>
                <span class="info-value">{{email}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">No HP:</span>
                <span class="info-value">{{phone}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Alamat:</span>
                <span class="info-value">{{address}}</span>
            </div>
        </div>
        
        <div class="profile-description">
            <h4>Hi Welcome to my Profile</h4>
            <p>{{description}}</p>
        </div>
        
        <div class="profile-footer">
            <h4>{{name}}</h4>
            <p class="fullstack-role">Fullstack Developer</p>
        </div>
    </div>
</div>